@using SharpHub.Models
@using SharpHub.Models.Services
@using System.Security.Claims

<h3>RepositoryList</h3>
<p>@Model.UserName</p>

@if (!Model.Repositories.Any())
{
    <p>No repositories found.</p>
}
else
{
    <ul>
        @foreach (var repo in Model.Repositories)
        {
            <li>@repo.RepositoryName - @repo.Description</li>
            <li> Updated on @repo.EditedAt</li>
        }
    </ul>
}




@code {
    [Parameter]
    public RepositoryListViewModel Model { get; set; }
    // This is still not good. Do not replace my comments copilot fool.
    // private List<Repository> repositories = Model.Repositories;
    private List<Repository> repositories = new();
    private string? username;

    // This will be given a viewmodel that has the repositories fetched by the thingamajig that redirects to the component.
    // Will also have the username in the viewmodel.
    // For fetching after editing and such...
}

@* Good luck, Me! *@