@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Repository

<div class="testijutut">
    <form asp-action="CreateRepositoryMVC" method="post">
        <div>
            <label for="Name"> Repository Name</label>
            <input asp-for="RepositoryName" />
        </div>
        <div>
            <label for="Description"> Description</label>
            <input asp-for="Description" />
        </div>
        <button type="submit">Create Repository</button>
    </form>
</div>