@* @model IEnumerable<Repository> *@
@model REPOMANAGERtestTEST

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sivu joka näyttää listan käyttäjän Repoista</h1>
    <h1 class="display-4">Goblinmode aika</h1>
</div>

<div>
    <h1 class="display-4">Tänne se repository view jutut</h1>
    <h2 class="display-6">Tarvii ne partial viewit, repo creation, desc change.</h2>
</div>

<div>
    <ul>
        @foreach (var repo in Model.Repositories)
        {
            <li>@repo.RepositoryName - @repo.Description</li>
        }
    </ul>
</div>

<partial name="_CreateRepo" model="Model.NewRepository"/>