@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Paskahousu Olli</h1>
    <h1 class="display-4">Goblinmode aika</h1>
</div>

<div>
    <h1 class="display-4">Tänne se repository view jutut</h1>
</div>