@using SharpHub.Components
@model RepositoryManagerViewModel

@{
    ViewData["Title"] = "Your repositories";
}
<div class="container mt-4">
    <component type="typeof(RepositoryViewRouter)" render-mode="ServerPrerendered" param-Model="Model" />
</div>
