@model UserLoginViewModel

<div class="container p-4" style="max-width: 400px;">
    <div class="d-flex justify-content-center mb-4">
        <div class="nav nav-tabs w-100">
            <div data-target="Login" class="nav-link active login-tab w-50 text-center">Kirjaudu</div>
            <div data-target="Register" class="nav-link login-tab w-50 text-center">Rekisteröidy</div>
        </div>
    </div>
    <form asp-action="Login" asp-controller="Account" method="post" class="d-flex flex-column justify-content-between" style="min-height: 350px;">
        <div>
            <div class="mb-3">
                <label asp-for="Username" class="form-label">Käyttäjätunnus</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Salasana</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
        </div>
        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @ViewData["ErrorMessage"]
            </div>
        }
        <button type="submit" class="btn btn-primary w-100 mt-3">Kirjaudu</button>
    </form>
</div>