﻿@{
}

@model AccountIndexViewModel

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow p-4 w-100" style="max-width: 400px;">
        <div id="main-content">
            @if (Model == null)
            {
                <partial name="_Login" />
            }
            else if (Model.Register != null)
            {
                if (Model.Register.RegisterStatus == false)
                {
                    <partial name="_Register" model="Model.Register" />
                }
                else
                {
                    <partial name="_Login" model="Model.Login" />
                }
            }
            else
            {
                <partial name="_Login" model="Model.Login" />
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).on("click", ".login-tab", function () {
            var target = $(this).data("target");
            $.ajax({
                type: "post",
                url: "/Account/" + target + "Partial",
                success: function (data) {
                    $("#main-content").fadeOut(20, function () {
                        $(this).html(data).fadeIn(20);
                    });
                }
            });
        });
    </script>
}
