@using SharpHub.Components
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SharpHub.</h1>
    <h2 class="display-6">My take on a bootleg Github</h2>
</div>

<div class="test_remember_to_delete">
    @* <component type="typeof(Blazortest)" render-mode="Server"/> *@
    
</div>